/*
  ========================================
  Top 4 Menu
  ========================================
*/

.home4-top-nav.topnav {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8597fb), color-stop(#70a4ff), color-stop(#5fafff), color-stop(#55b9fe), to(#55c2fa));
    background-image: -o-linear-gradient(top, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
    background-image: linear-gradient(to bottom, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
}

.home4-top-nav .top-btn a {
    background: #02d9cf;
    border: 2px solid #02d9cf !important;
}

.home4-top-nav .top-btn a:hover {
    background: #02d9ce73;
    border: 2px solid #fff !important;
}


/*
  ========================================
  Home 4 Hero
  ========================================
*/

.home4-hero {
    background-image: url(../../img/bg/h4-bg1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 280px;
    position: relative;
}

.home4-animations {}

.home4-animations img {
    position: absolute;
}

.home4-animations img:nth-child(1) {
    top: 19%;
    left: 0;
    -webkit-animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.home4-animations img:nth-child(2) {
    top: 57%;
    left: 17%;
    -webkit-animation: scale-up-two 5s infinite linear;
    animation: scale-up-two 5s infinite linear;
}

.home4-animations img:nth-child(3) {
    top: 63%;
    right: 20%;
    -webkit-animation: scale-up-two 6s infinite linear;
    animation: scale-up-two 6s infinite linear;
}

.home4-animations img:nth-child(4) {
    top: 15%;
    right: 0;
    -webkit-animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.home4-hero-title {}

.home4-hero-title {
    text-align: center;
}

.home4-hero-title h1 {
    font-size: 60px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.home4-hero-title p {
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 400;
    padding: 19px 0 32px;
}

.home4-hero-title a.btn-1 {
    background: #02d9cf;
    border: 2px solid #02d9cf;
}

.home4-hero-img {
    margin-top: 90px;
}

.home4-hero-img img {
    width: 100%;
}


/*
  ========================================
  Overview
  ========================================
*/

.home4-overview-area {
    background-image: url(../../img/bg/h2-bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home4-overview-area .btn-1 {
    background: #02d9cf;
    border: 2px solid #02d9cf;
}


/*
  ========================================
  Counter
  ========================================
*/

.home4-counter {
    background-image: url(../../img/bg/h4-bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 90px;
}

.home4-how-works-video-content {
    margin-top: 46px;
    margin-bottom: -160px;
    z-index: 22;
    position: relative;
}

.home4-how-works-video-content .video-play-button:before {
    background: #02d9cf;
}

.home4-how-works-video-content .video-play-button:after {
    background: #02d9cf;
}

.home4-how-works-video-content .video-play-button:hover:before {
    background-image: linear-gradient(to bottom, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
}

.home4-how-works-video-content .video-play-button:hover:after {
    background-image: linear-gradient(to bottom, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
}


/*
  ========================================
  How Works
  ========================================
*/

.home4-how-works-area {
    background-color: #fff;
}

.home4-how-works-area .how-works-item .top-line {
    background: #f4f4f4;
}


/*
  ========================================
  Pricing
  ========================================
*/

.home4-pricing-area {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8597fb), color-stop(#70a4ff), color-stop(#5fafff), color-stop(#55b9fe), to(#55c2fa));
    background-image: -o-linear-gradient(top, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
    background-image: linear-gradient(to bottom, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
    padding-top: 175px;
}

#pricing-area.home4-pricing-area::before {
    content: unset;
}

.home4-pricing-area .section-title h2 {
    color: #fff;
}

.home4-pricing-area .section-title p {
    color: #fff;
}

.home4-pricing-tab li a.active {
    color: #fff;
    background-color: #02d9cf;
}

.home4-pricing-tab {
    -ms-flex-pack: center!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
    margin-top: 66px;
    margin-bottom: 40px;
}

.home4-pricing-tab li {}

.home4-pricing-tab li a {
    font-size: 14px;
    line-height: 30px;
    color: #878991;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.home4-pricing-tab li a.active {
    color: #fff;
    background-color: #02d9cf;
}

.home4-pricing-tab li:nth-child(1) a {
    padding: 20px 55px;
    border-radius: 50px 0 0px 50px;
}

.home4-pricing-tab li:nth-child(2) a {
    padding: 20px 55px;
    border-radius: 0px 50px 50px 0px;
}

.home4-pricing-area .pricing-item {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#4997c8), color-stop(#4b94c9), color-stop(#4f90c9), color-stop(#548cc9), to(#5a88c9));
    background-image: -o-linear-gradient(right bottom, #4997c8, #4b94c9, #4f90c9, #548cc9, #5a88c9);
    background-image: linear-gradient(to left top, #4997c8, #4b94c9, #4f90c9, #548cc9, #5a88c9);
    padding: 55px 47px 61px;
}

.home4-pricing-area .pricing-item .btn-1 {
    background: none;
    border: 2px solid #fff;
}

.home4-pricing-area .pricing-item-active .btn-1 {
    background: #02d9cf;
    border: 2px solid #02d9cf;
}


/*
  ========================================
  Testiminial
  ========================================
*/

.home4-testiminial-area {
    background-color: #f4f4f4;
    padding-top: 170px;
}


/*
  ========================================
  Faq
  ========================================
*/

#faq-area.home4-faq-area button.faq-title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8597fb), color-stop(#70a4ff), color-stop(#5fafff), color-stop(#55b9fe), to(#55c2fa));
    background-image: -o-linear-gradient(top, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
    background-image: linear-gradient(to bottom, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
}

#faq-area.home4-faq-area .accordion .collapsed {
    background: #fff;
    color: #30323d;
}

#faq-area.home4-faq-area .accordion .collapsed .card-icon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8597fb), color-stop(#70a4ff), color-stop(#5fafff), color-stop(#55b9fe), to(#55c2fa));
    background-image: -o-linear-gradient(top, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
    background-image: linear-gradient(to bottom, #8597fb, #70a4ff, #5fafff, #55b9fe, #55c2fa);
}


/*
  ========================================
  Footer
  ========================================
*/

.home4-footer-area {}

.home4-footer-area .footer-app {
    background-image: url(../../img/bg/h4-footer-bg.png);
}

.home4-footer-animations img {
    position: absolute;
    z-index: 22;
}

.home4-footer-animations img:nth-child(1) {
    top: 19%;
    left: 0;
    -webkit-animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.home4-footer-animations img:nth-child(2) {
    top: 79%;
    left: 17%;
    -webkit-animation: scale-up-two 5s infinite linear;
    animation: scale-up-two 5s infinite linear;
}

.home4-footer-animations img:nth-child(3) {
    top: 63%;
    right: 20%;
    -webkit-animation: scale-up-two 6s infinite linear;
    animation: scale-up-two 6s infinite linear;
}

.home4-footer-animations img:nth-child(4) {
    top: 15%;
    right: 0;
    -webkit-animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.home4-footer-area .btn-1 {
    background: #02d9cf;
}